@define-mixin atSmall {
  @media (min-width: 530px){
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px){
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1200px){
    @mixin-content;
  }
}

@define-mixin atHome {
  @media (max-width: 1068px){
    @mixin-content;
  }
}

@define-mixin atServicesTwoCol {
  @media (max-width: 1068px){
    @mixin-content;
  }
}

@define-mixin atServicesOneCol {
  @media (max-width: 768px){
    @mixin-content;
  }
}

@define-mixin atCall{
  @media (max-width: 1068x){
    @mixin-content;
  }
}

@define-mixin atContactForm{
  @media (max-width: 768){
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}