header {
  background-color: deepskyblue;
  height: 112px;
  line-height: 112px;
  position: relative;

  nav {
    position: absolute;
    float: right;
    right: 0;
  }

  a.logo img {
    margin-top: 0px;
  }
 
  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        padding-right: 30px;
        font-weight: bold;
        color: #fff;
        text-shadow: none;

        &:hover {
          text-decoration: none;
          color: #f44;
          transition: all 0.5s ease-in;
        }
      }
      
    }
  }


} /*  Header end */

