
li.img1
{
    background-color:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    background-image: url("https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&h=700&w=1600");
    background-size: 100% 100%;
    opacity: 0.8;
    height: 100%;
    top: 0;
}

.slider,.slider ul,.slider ul li
{
    height: 710px;
    width:100%;
    color: #f3f3f3;
     text-align: center;
  
}
  
.slider h2
{
    font-weight: bold;
    margin-top:270px;
}


.slider span
{
    color: orange;
}


.slider a
{
    padding: 10px 50px;
    margin-right: 10px;
    
}


.slider a.btn-half
{
    background-color: deepskyblue;
    color: white;
    transition: 0.5s ease-in;
}

.slider a.btn-half:hover
{
    background-color: dodgerblue;
}
.slider a.btn-full
{
    background-color: orange;
    color: white;
    transition: 0.5s ease-in;
}

.slider a.btn-full:hover
{
    background-color: #e67e22;
}
li.img2
{   background-color: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-image:url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&h=700&w=1600");
    
    background-size: 100% 100%;
}
 
li.img3
{
    background-color:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-image: url("https://images.pexels.com/photos/4768953/pexels-photo-4768953.jpeg?auto=compress&cs=tinysrgb&h=700&w=1600");
    background-size: 100% 100%;
}

.slider i
{
    font-size: 35px;
    margin-right: 10px;
    
}